<div class="mui-panel">
  <form method="POST">
    <legend>Enter passcode</legend>
    <div class="mui-textfield">
      <input type="password" placeholder="Passcode" name="passcode" /><br />
    </div>
    <button type="submit" class="mui-btn mui-btn--raised">Login</button>
    </form>
</div>
